body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#gridInterface {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

#buttonBar {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 50px;
  padding: 0px 0px;
  background-color: rgb(17, 19, 27);
  border-left: 1px solid rgb(88, 88, 91);
}

#gridButtonsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.gridButton {
  position: relative;
  background-color: rgb(15, 15, 15);
  cursor: pointer;
  flex: 1;
  border-bottom: 1px solid rgb(53, 53, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  user-select: none;
}
.gridButton:hover {
  background-color: rgb(23, 23, 34);
}

.gridButton:hover .buttonTooltip {
  animation: tooltipAnimation 0.4s linear forwards;
}

@keyframes tooltipAnimation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonTooltip {
  position: absolute;
  color: rgb(214, 214, 214);
  background-color: rgb(81, 81, 86);
  width: max-content;
  margin: 0px;
  padding: 7px 15px;
  border-radius: 20px;
  right: 53px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  animation: none;
}

.gridButton img {
  object-fit: contain;
  width: 50%;
}

#sliderDiv {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  flex: 1;
}

.sliderArrow {
  height: 10px;
  color: rgb(192, 192, 196);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

#arrowUp {
  position: relative;
  left: 2px;
}
#arrowDown {
  position: relative;
  left: -2px;
  transform: rotate(-180deg);
}

#sizeSlider {
  writing-mode: vertical-lr;
  direction: rtl;
  flex: 1;
  opacity: 0.75;
}

#gridDiv {
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(135deg, rgb(57, 55, 61), rgb(36, 36, 42));
  flex: 1;
  height: 100vh;
}

#dimensionsText {
  position: absolute;
  color: rgb(188, 188, 190);
  top: -5px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#gridCanvas {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
}

#sidePanel {
  box-sizing: border-box;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: -330px;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 330px;
  width: 330px;
  height: 100vh;
  background-color: rgb(22, 22, 26);
  border-right: 1px solid rgb(94, 94, 94);
  padding: 30px;

  transition: left 0.2s;
}

#sidePanelHandle {
  position: absolute;
  z-index: 101;
  right: -26px;
  top: 44vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(22, 22, 26);
  width: 25px;
  height: 110px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid rgb(94, 94, 94);
  border-right: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
  cursor: pointer;
}
#handleArrow {
  color: rgb(149, 149, 149);
  font-weight: bold;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 26px;
  width: 100%;
  text-align: center;
  user-select: none;
  position: relative;
  left: -2px;
  top: -1px;

  transition: transform 0.4s;
}

.panelSection {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.algorithmSelectorText {
  overflow: hidden;
  width: 100%;
  color: rgb(218, 218, 218);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px 0px 13px 0px;
  user-select: none;
}
.algorithmSelector {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 6px;
  background-color: rgb(47, 47, 55);
  border-style: none;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
}
.algorithmSelector:hover {
  background-color: rgb(56, 56, 67);
}
.algorithmSelector:hover .selectAlgorithmButton {
  background-color: rgb(74, 74, 81);
}

.algorithmSelectedName {
  width: 100%;
  margin: 0px 20px;
  color: rgb(200, 200, 200);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.selectAlgorithmButton {
  height: 46px;
  line-height: 46px;
  padding: 0px 10px;
  margin: 0px;
  background-color: rgb(59, 59, 66);
  border-style: none;

  color: rgb(190, 190, 190);
  font-weight: bold;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.selectAlgorithmButton p {
  position: relative;
  margin: 0px;
  transform: rotate(90deg);
  left: 1px;
  user-select: none;
}

.algorithmList {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 83px;
  z-index: 107;
  background-color: rgb(46, 47, 54);
  width: 100%;
  max-height: 160px;
  display: none;
  border-radius: 3px;
}
.algorithmList::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}
.algorithmList::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 95);
  border-radius: 5px;
}

.algorithmList p {
  color: rgb(190, 190, 190);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgb(61, 62, 69);
}
.algorithmList p:hover {
  background-color: rgb(57, 58, 64);
}

#visualizationText {
  color: rgb(218, 218, 218);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  user-select: none;
  margin: 10px 0px 10px 0px;
}
#visualizationToggle {
  position: relative;
  border: 1px solid rgba(92, 92, 92, 0);
  display: flex;
  padding: 0px 0px;
  border-radius: 5px;
  background-color: rgb(45, 45, 51);
  overflow: hidden;
  cursor: pointer;
}

.visualizationToggleText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 70px;
  text-align: center;
  color: rgb(200, 200, 200);
  z-index: 105;
  user-select: none;
  margin: 0px;
  line-height: 43px;
}
#visualizationToggleBackground {
  z-index: 104;
  background-color: rgb(67, 67, 74);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 3px;
  transition: left 0.1s;
}
#visualizationToggle:hover #visualizationToggleBackground {
  background-color: rgb(80, 80, 89);
}


